<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.backanim</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/griffinstrier/custom/.venv/bin/python</string>
        <string>/Users/griffinstrier/custom/services/backanim/src/background_changer.py</string>
    </array>
    <key>StartInterval</key>
    <integer>900</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/Users/griffinstrier/custom/services/backanim/logs/system_error.log</string>
    <key>StandardOutPath</key>
    <string>/Users/griffinstrier/custom/services/backanim/logs/system_output.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PYTHONPATH</key>
        <string>/Users/griffinstrier/custom/services/backanim/src</string>
        <key>PYTHONUNBUFFERED</key>
        <string>1</string>
    </dict>
    <key>WorkingDirectory</key>
    <string>/Users/griffinstrier/custom/services/backanim</string>
</dict>
</plist> 